<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gegehydro.store.dao.admin.AdminAppImgDao">
    <insert id="insert" parameterType="com.gegehydro.store.entity.AppImgs">
        INSERT INTO app_imgs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                app_id,
            </if>
            <if test="img != null">
                img,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="users != null and users.id != null">
                operator_id,
            </if>
            <if test="operateIp != null">
                operate_ip,
            </if>
            <if test="operateDate != null">
                operate_date,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="img != null">
                #{img},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="users != null and users.id != null">
                #{users.id},
            </if>
            <if test="operateIp != null">
                #{operateIp},
            </if>
            <if test="operateDate != null">
                #{operateDate},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.gegehydro.store.entity.AppImgs">
        UPDATE app_imgs
        SET status = 1
        WHERE app_id = #{id}
        AND status = 0
    </update>
</mapper>